* {
    background: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    background: white;
    margin-top:-10px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    background: white;
    z-index: 2;
}

h1 {
    font: normal bold 14px 'Courier New', Courier, monospace;
    position: fixed;
    z-index: 2
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    justify-content: space-evenly;
    padding-top: 35px;
    z-index: 1;
    background: white;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 99%;
    height: 75%;
    background-color: white;
}

h3 {
    font: normal bold 18px 'Courier New', Courier, monospace;
}

#search-container {
    padding-top: 70px;
    background: white;
    align-self: flex-start;
}

#input-box {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 96%;
    background: white;
    height: 30px;
}

#re-search-box {
    flex-basis: inherit;
    flex-grow: 1;
    margin-right: 4px;
    margin-left: 10px;
    height: 18px;
}

#submit-button {
    height: 24px;
}

#outer-container {
    display: flex;
    flex-direction: column;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 95%;
}

#response-news {
    width: 100%;
    background: orangered;
    border: 2px solid black;
    margin: 1px;
}

#js-news-list {
    background: orangered;
}

#js-news-list li, #js-news-list li > * {
    background: orangered;
}

#js-error-message-news h3 {
    background: orangered;
    margin-top: -12px;
    margin-left: -12px
}

#js-error-message-news {
    padding-left: 25px;
    background: orangered;
}

#response-stock {
    width: 100%;
    background: orange;
    border: 2px solid black;
    margin: 1px;
}

#js-stock-header {
    background: orange;
    margin-left: 8px;
}

#js-stock-header h3 {
    background: orange;
}

#js-message-error-stock {
    background: orange;
}

#js-message-error-stock a {
    background: orange;
}

li a {
    background: orange;
}

#js-suggestions, #js-suggestions > * {
    background: orange;
}

#response-stock-ul {
    background: orange; 
}

#response-stock-ul > li {
    background: orange;
}
#js-suggestions {
    background: orange;
}
#response-hacker {
    width: 100%;
    background: yellowgreen;
    border: 2px solid black;
    margin: 1px;
}

#response-hacker, #response-hacker > * {
    background: yellowgreen;
}

#response-hacker li, #response-hacker li > * {
    background: yellowgreen;
}

#hacker-response-list h3 {
    background: yellowgreen;
    margin-left: -25px;
    margin-top: -12px;
}

#response-community {
    width: 100%;
    background: tomato;
    border: 2px solid black;
    margin: 1px;
}

#response-community h3 {
    background: tomato;
    margin-left: 15px;
}

#js-forum-results, #js-forum-results > * {
    background: tomato;
}

#js-forum-results li, #js-forum-results li > * {
    background: tomato;
}

.hidden {
    display: none;
}

li {
    line-height: 30px;
}

ul {
    margin-top: -10px;
}

h3 {
    margin-top: 4px;
}

a {
    color: darkmagenta;
}

a:visited {
    color: darkred;
}
@media screen and (min-width: 700px) {

#search-container {
    padding-top: 100px;
}
.inner-container {
    display: flex;
    flex-direction: row;
}

nav {
    padding-top: 5px;
}    

main {
    margin-left: 5%;
    margin-top: 150px;  
    width: 90%;
    height: 85%;
    background: gray;
}

nav {
    margin-top: 50px;
}

h1 {
    font-size: 18px;
}
}

@media screen and (min-width: 1200px) {
    
    #outer-container {
        display: flex;
        flex-direction: row;
    }

    .inner-container {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 24px;
    }
}

